.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.btn-delete {
  color: #0096ff;
}

.subtitle {
  color: #575757;
}

.btn-primary {
  background: #FFF;
  color: #0096ff;
  border-color: #0096ff;
}

.btn-primary:hover {
  border-color: #0096ff;
  background: #0096ff;
}

.Navigation .checkbox { 
  margin: 0;
  font-size: 16px;
  padding-left: 30px;
}

.Navigation .checkmark {
  border-color: #575757;
}

.Navigation .checkbox .checkmark:after  {  
  border-color: #575757;
}